.headingWrapper {
  padding: 15px 25px;
  margin-bottom: 15px;
  background: var(--theme-color-1);
  color: var(--font-color-1);
  font-size: 25px;
}
.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 10px;
}

.cardWrapper {
  border-radius: 5px;
  display: grid;
  place-items: center;
}

.productCardWrapper iframe {
  min-height: 240px;
  border: 0;
  width: 120px;
  transform: scaleX(1.4);
}

@media screen and (max-width: 350px) {
  .productCardWrapper iframe {
    transform: scaleX(1.1);
  }
}
@media screen and (max-width: 500px) {
  .productCardWrapper iframe {
    transform: scaleX(1.3);
  }
}
@media screen and (min-width: 576px) {
  .cardsWrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .cardWrapper:hover iframe {
    transform: scaleX(1.5) scaleY(1.1);
    box-shadow: 0px 3px 10px var(--box-shadow-1);
  }
}
@media screen and (min-width: 768px) {
  .cardsWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .cardsWrapper {
    grid-template-columns: repeat(6, 1fr);
  }
}
