@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.2s all linear;
}

:root {
  --background-color-1: #eee;
  --theme-color-1: #111;
  --theme-gradient-1: linear-gradient(to right, #ffa500, #ff7b00);
  --border-color-1: #ddd;
  --box-shadow-1: #ddd;
  --font-color-1: #fff;
}

body {
  background: var(--background-color-1);
}
